hostname: "sensor-north"
timezone: "Europe/Helsinki"
rpi_model: "Raspberry Pi 4B"
sdr_serial: "00001000"

# RTK HARDWARE
gnss_device: "/dev/ttyACM0"
gnss_baudrate: 230400

# RTK SETTINGS (Triggers the Splitter)
ntrip_caster: "opencaster.nls.fi"
ntrip_port: 2101
ntrip_mountpoint: "VRS-FKP"
ntrip_password: "{{ ntrip_pass }}"
latitude: "60.319555"
longitude: "24.830816"
altitude: "105"

enable_raw_recording: false
