# [FILE] infra/ansible/roles/tower_core/tasks/opensearch.yml
- name: "[System] Increase vm.max_map_count"
  sysctl:
    name: vm.max_map_count
    value: '262144'
    state: present
    reload: yes

- name: "[Storage] Create Data Directories"
  file:
    path: "{{ item }}"
    state: directory
    owner: 1000
    group: 1000
    mode: '0755'
  loop:
    - /opt/adsb-grid/opensearch
    - /opt/adsb-grid/opensearch/data

- name: "[Config] Deploy OpenSearch Docker Compose"
  copy:
    dest: /opt/adsb-grid/opensearch/docker-compose.yml
    content: |
      services:
        opensearch:
          image: opensearchproject/opensearch:latest
          container_name: opensearch
          environment:
            - discovery.type=single-node
            - "OPENSEARCH_INITIAL_ADMIN_PASSWORD={{ vault_opensearch_password }}"
            - "network.host=0.0.0.0"
            # Explicitly disable SSL for the HTTP layer to simplify local comms
            - "plugins.security.ssl.http.enabled=false"
          ports:
            - "9200:9200"
            - "9600:9600"
          volumes:
            - ./data:/usr/share/opensearch/data
          restart: always

        opensearch-dashboards:
          image: opensearchproject/opensearch-dashboards:latest
          container_name: opensearch-dashboards
          ports:
            - "5601:5601"
          environment:
            - 'OPENSEARCH_HOSTS=["http://opensearch:9200"]'
            # IMPORTANT: Disable SSL verification so they can talk freely
            - "opensearch.ssl.verificationMode=none"
            - "opensearch.username=admin"
            - "opensearch.password={{ vault_opensearch_password }}"
          depends_on:
            - opensearch
          restart: always
  notify: Restart OpenSearch

- name: "[Stack] Start OpenSearch"
  community.docker.docker_compose_v2:
    project_src: /opt/adsb-grid/opensearch
    state: present
