---
# ==============================================================================
# Role: sensor_node
# File: handlers/main.yml
# Description: Event handlers for the Sensor Node role
# Version: v1.1.0
# ==============================================================================

- name: Restart Sensor Stack
  community.docker.docker_compose_v2:
    project_src: /opt/adsb-grid
    state: restarted

- name: Restart Rsyslog
  service:
    name: rsyslog
    state: restarted
  become: yes

- name: Reload Modprobe
  ansible.builtin.shell: rmmod dvb_usb_rtl28xxu && modprobe -r rtl2832
  ignore_errors: yes
  become: yes

- name: Restart Fluent Bit
  service:
    name: fluent-bit
    state: restarted
