---
# ==============================================================================
# Master Playbook: Site Provisioning
# ==============================================================================

- hosts: sensors
  become: true
  vars_files:
    - ../group_vars/all.yml
    # - ../group_vars/all/vault.yml

  roles:
    - common
    - zerotier
    - sensor_node
    - recorder
    - gnss-receiver
    - strat1_timing    # <--- NEW: Installs Chrony (Stratum 1 Time)
