---
# ==============================================================================
# Master Playbook: Site Provisioning
# ==============================================================================

- hosts: sensors
  become: true
  vars_files:
    - ../group_vars/all.yml
    # - ../group_vars/all/vault.yml  <-- Uncomment if using vault

  roles:
    - common
    - zerotier
    - sensor_node
    - recorder      # <--- NEW ROLE ADDED
