# ==============================================================================
# FILE: /etc/default/gpsd
# MANAGED BY: Ansible (v0.4.4)
# ==============================================================================

START_DAEMON="true"
GPSD_OPTIONS="-n -G"

# DEVICES:
# - North: Reads from socat Hub
# - West: Reads from USB Hardware
{% if socat_hub_port is defined %}
DEVICES="tcp://127.0.0.1:{{ socat_hub_port }}"
{% else %}
DEVICES="{{ gnss_device }}"
{% endif %}

USBAUTO="true"
GPSD_SOCKET="/var/run/gpsd.sock"
